<div>
     <!-- 
    <h2>About</h2>

    <div class="about-wrapper">
        <div class="about-description">
            <div>I enjoy 
            laboriosam eaque voluptatibus autem. Numquam dicta quod aliquam quae optio facilis!</div>
        </div>
    </div>

    <div class="about-wrapper">
        <div class="about-picture"></div>
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            laboriosam eaque voluptatibus autem. Numquam dicta quod aliquam quae optio facilis!
        </div>

       <div class="about-card">
            <div class="card">
                <span class="card-title">EMAIL</span>
                <span class="card-input">Isyc@outlook.com</span>
                <span class="card-title">ROLE</span>
                <span class="card-input">FRONTEND DEVELOPER</span>
                <span class="card-title">PHONE</span>
                <span class="card-input">(+176)97922286</span>
            </div>
        </div>
  

    </div>



    <div class="about-wrapper">
        <div class="about-description">
            <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quo at ab, nisi sed quod. Esse error a omnis 
            laboriosam eaque voluptatibus autem. Numquam dicta quod aliquam quae optio facilis!</div>
        </div>
    </div>
  -->
</div>
