<div class="navbar-wrapper">
    <div class="navbar">
        <div class="navbarLinks hideMobile">
            <a href="#">HOME</a>
            <a href="#projects">PROJECTS</a>
            <a href="#contact">CONTACT</a>
        </div>

    </div>

   
      <!--    <div class="mobileNavbar hideDesktop">
                <img (click)="mobileNavbar()" src="assets/img/mobilemenu.png">
            </div>
            <div id="mobileNavbarContent" class="d-none hideDesktop">
                <span (click)="closeMobileNavbar()" class="closeMobileBtn">X</span>
                <a (click)="openHome()" href="#home">HOME</a>
                <a (click)="openProjects()" href="#projects">PROJECTS</a>
                <a (click)="openAbout()" href="#about">ABOUT</a>
            </div>
            --> 
      


</div>