<div class="projects" id="projects">
    <h2>Projects</h2>

    <div class="project-wrapper">
        <div class="project-picture"></div>
        <div class="project-description">
            <h3>Kanban</h3>
            <p>TypeScript | SCSS | </p>
            <div>Kanban is a process management tool that helps you organizing your tasks and workflow.<br>
                It is written in TypeScript using Angular as Framework.</div>
            <div>
                <button class="project-btn">
                    <img class="icon-btn" src="/assets/img/github-fill.png">
                </button>
                <button class="project-btn">
                    <img class="icon-btn" src="/assets/img/net.png">
                </button>
            </div>
        </div>
    </div>

    <div class="project-wrapper">
        <div class="project-picture-business project-picture"></div>
        <div class="project-description">
            <h3>Business-App</h3>
            <p> Angular | Firebase | SCSS</p>
            <div>This Business-App is written in TypeScript using Angular as Framework and Firebase as Backend.</div>

            <div>
                <button class="project-btn">
                    <img class="icon-btn" src="/assets/img/github-fill.png">
                </button>
                <button class="project-btn icon-b">
                    <img class="icon-btn" src="/assets/img/net.png">
                </button>
            </div>
        </div>
    </div>

    <div class="project-wrapper">
        <div class="project-picture-portfolio project-picture"></div>
        <div class="project-description">
            <h3>Portfolio</h3>
            <p> Angular | TypeScript | SCSS</p>
            <div> This Angular Project is written in TypeScript</div>

            <div>
                <button class="project-btn">
                    <img class="icon-btn" src="/assets/img/github-fill.png">
                </button>
                <button class="project-btn icon-b">
                    <img class="icon-btn" src="/assets/img/net.png">
                </button>
            </div>
        </div>

    </div>